<div class="row">
 <div *ngIf="quantite!==0" class="col-md-4">
   <p>Le tableau du panier</p>
   <table class="table">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">photo</th>
        <th scope="col">prix</th>
        <th>quantité</th>
        <th scope="col">supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let parfum of panier">
        <!-- <th scope="row"></th> -->
        <td>{{parfum.nom}}</td>
        <td><img width="40" height="40" src="{{parfum.photo}}" alt="photo"></td>
        <td>{{parfum.prix|currency:'EUR'}}</td>
        <td>{{parfum.quantite}}</td>
        <td class="text-center"><button (click)="retraitPanier(parfum.nom)" class="btn btn-danger">x</button></td>

      </tr>
      <tr>
        <!-- <th scope="row"></th> -->
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <!-- <th scope="row"></th> -->
        <td colspan="2"></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <p class="text-end">Total:{{quantite}}articles<strong>{{total()|currency:'EUR'}}</strong></p>
 </div>
  <div [class.col]="quantite==0"  [class.col-md-8]="quantite!==0">

    <div  class="row justify-content-around">
      <div *ngFor="let produit of produits" class="card col-md-3 mb-4" style="width: 18rem;">
        <div class="card-header bg-dark text-white text-center">
          <h4>{{produit.marque}}</h4>
        </div>
        <img src="{{produit.photo}}" class="card-img-top" alt="photo{{produit.nom}}">
        <div class="card-body">
          <h4 class="card-title">{{produit.nom}}</h4>
          <div>
            <h5>{{produit.prix}} €</h5>
          </div>

           <app-detail  [cont]="produit.contenance" [desc]="produit.description"></app-detail>

          <a href="#" (click)="ajoutPanier(produit,produit.nom)" class="btn btn-primary">Ajouter au panier</a>


        </div>

    </div>
    </div>
  </div>




</div>

